body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    min-width: 950px;
}

.header {
    display: flex;
    height: 55px;
    width: 100%;
    font-size: 1.35em;
    font-weight: 700;
    line-height: 0.1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    align-items: center; 
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center; 
}

.header__img {
    margin: 0 20px;
}

.main {
    display: flex;
    padding: 50px 50px 30px 30px;
}

.palette {
    width: 50%;
}

.container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.bord {
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    width: 250px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-size: 1.1em;
}

.bord p {
    padding: 0;
    margin: 0;
}

.button__img {
    margin-right: 15px;
    vertical-align: middle;
}

.bord button {
    width: 250px;
    height: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.1em;
}

.color {
    width: 45px;
    height: 45px;
    border-radius: 13px;
    margin-right: 15px;
}

.color-top {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-right: 15px;
}

.colors > div {
    display: flex;
    padding: 10px 0 10px 0;
}

.red {
    background-color: red;
    padding: 0;
    margin: 10px; 
}

.green {
    background-color: green;
    padding: 0;
    margin: 10px; 
}

.blue {
    background-color: blue;
    padding: 0;
    margin: 10px; 
}

.gray {
    background-color: gray;
    padding: 0;
    margin: 10px; 
}

.canvas {
    display: block;
    min-width: 33em;
    min-height: 33em;
    position: relative;
}

.block {
    position: absolute;
}

.one {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
}

.two {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
    top: 0px;
    left: 176px;
}

.tree {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
    top: 0px;
    left: 352px;
}

.four {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
    top: 176px;
    left: 0px;
}

.five {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
    top: 176px;
    left: 176px;
}

.six {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
    top: 176px;
    left: 352px;
}

.seven {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
    top: 352px;
    left: 0px;
}

.eight {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
    top: 352px;
    left: 176px;
}

.nine {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 2px;
    background-color: rgb(177, 177, 177);
    top: 352px;
    left: 352px;
}

.current {
    background-color: gray;
}

.prev {
    background-color: gray;
}

span {
    font-size: 0.5em;
    color: gray;
}